<nav>
	<ul>
		<li><a href="{{site.baseurl}}/index.html" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
		<li><a href="{{site.baseurl}}/about.html" class="{% if page.url contains 'about.html'%}current{% endif %}">About</a></li>
		<li><a href="{{site.baseurl}}/location.html" class="{% if page.url contains 'location.html'%}current{% endif %}">Locations</a>
		<li><a href="{{site.baseurl}}/faq.html" class="{% if page.url contains 'menu.html'%}current{% endif %}">FAQ</a></li>
		<li><a href="{{site.baseurl}}/get-involved.html" class="{% if page.url contains 'get-involved.html'%}current{% endif %}">Get Involved</a></li>
		<li><a href="{{site.baseurl}}/login-register.html" class="{% if page.url contains 'login-register.html'%}current{% endif %}">Login / Register</a></li>
	</ul>
</nav>